<a href="https://colab.research.google.com/github/Sookyung99/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## syntax 제어문
1. for문<br>
    for __ in ___: <br>
      ...
2. if문<br>
    if ___: <br>
     ...

In [ ]:
a = [1, 2, 3, 4]
for i in a:
  print(i)

1
2
3
4

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):
  print(a[i])

1
2
3
4

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
  print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue',  'purple']
for i in range(len(a)):
  print(a[i])

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue',  'purple']
for i in range(len(a)): # 0부터 리스트 a의 원소 개수만큼의 int들을 i라고 하면
  print(a[i])           # i를 인덱스로 해서 그만큼 출력해라

red
green
blue
purple

In [ ]:
# len(a) -> 4
# range(len(a)) == range(4) -> range(0, 4)
## range(n)은 기본값이 0부터임. range(4)면 0, 1, 2, 3 을 의미.
## range(n, m)이면 n <= < m 인 자연수들 출력함.

### range(n)
기본값이 0부터임. range(4)면 0, 1, 2, 3 을 의미.<br>
range(n, m)이면 n <= < m 인 자연수들 출력함.
- **for** i **in** range( ): 와 같이 사용해 인덱스 값으로 이용 가능

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):                ###인덱스값이랑 해당 원소가 나오나..?
  print("{}: {}%".format(a_, b[i]*100))   ### "{}".format(__)

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
  print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

? enumerate( )<br>
? zip( , ) <br>
? ''.format()

In [ ]:
a = 0
if a == 0:
  print(a)
else:
    print(a+1)

0

In [ ]:
for i in range(1, 3):           # 1, 2
  for j in range(3, 5):         # 3, 4
    print(i * j)                # 1*3, 1*4, 2*3, 2*4

3
4
6
8

In [ ]:
for i in range(1, 3):           # 1, 2
  for j in range(3, 5):         # 3, 4
    if j >= 4:                  
      print(i * j)              # 1*4, 2*4

4
8

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >= 2]  # [list], {set} 에서 가능
b

[2, 3, 4]

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >= 4]   #리스트 a의 원소 i는 모두 문자열. len(i)는 그럼 문자열 구성 문자 개수
b

['green', 'blue', 'purple']